/*login*/
#main_login{
    min-height:200px;
    .main_login_con{
        position:relative;
        height:377px;
        width:1200px;
        margin:0 auto;
        background:url(../images/login_banner.jpg) no-repeat left center;
        margin-bottom:60px;
        .loginform{
            width:340px;
            border:2px solid #ccc;
            position: absolute;
            right:0;
            top:0;
            .loginform_top{
                height:44px;
                padding-left:20px;
                border-bottom:1px solid #ccc;
                margin-bottom:10px;
                h3{
                    color:#1566c0;
                    font-size:24px;
                    line-height: 44px;
                    font-weight: 400;
                }
            }
            .loginform_con{
                width:298px;
                margin:0 auto;
                input{
                    width:288px;
                    height:26px;
                    padding:1px 4px;
                    border:1px solid #ccc;
                    line-height:26px;
                    margin-bottom:31px;
                    color:#666;
                }
            }
            .loginform_a{
                height:28px;
                display: flex;
                justify-content: center;
                img{
                    padding:0 5px;
                    width:28px;
                    height:28px;
                }
                padding-bottom:5px;
            }
            .loginform_dl{
                margin-left:20px;
                input{
                    width:80px;
                    height:37px;
                    border:none;
                    color:#fff;
                    font-size:14px;
                    line-height:37px;
                    text-align:center;
                    background:#81117f;
                }
                margin-bottom:10px;
            }
            .loginform_checked{
                height:32px;
                font-size:14px;
                color:#666;
                padding-left:20px;
                line-height: 32px;
                input{
                    position: relative;
                    top:2px;
                }
                margin-bottom:31px;
            }
            .loginform_footer{
                width:300px;
                height:25px;
                padding:10px 20px;
                background:#efefef;
                a{  
                    display: inline-block;
                    width:70px;
                    height:25px;
                    margin:0 3px;
                    font-size:12px;
                    text-align: center;
                    line-height: 22px;
                    color:#333;
                    background:#fefefe;
                    border-radius: 1px;
                    box-sizing: border-box;
                    border:1px solid #ccc;
                    float: right;
                }
            }
        }    
    }  
    .denglushibai,.dengluchenggong{
        width:300px;
        height:60px;
        border:1px solid #666;
        position:fixed;
        top:0;
        left:0;
        right:0;
        bottom:0;
        margin:auto;
        background:#fff;
        line-height:60px;
        text-align: center;
        color:#666;
    }
    .dengluhide{
        display: none;
    }
    
}
/*register*/
#main_register{
    min-height:200px;
    .main_register_con{
        width:1200px;
        overflow: hidden;
        margin:0 auto;
        .main_register_con_left{
            width:626px;
            float: left;
            height:502px;
            border:2px solid #ccc;
            margin-bottom: 10px;
            .main_register_con_top{
                height:44px;
                border-bottom:1px solid #ccc;
                h3{
                    font-size:24px;
                    line-height: 44px;
                    padding-left:20px;
                    color:#1566c0;
                    font-weight: 400;
                   
                }
                margin-bottom:10px;
            }
            form>div{
                height:51px;
                margin-bottom:10px;
                label{
                    display: block;
                    width:145px;
                    height:30px;
                    font-size:14px;
                    float: left;
                    text-align: right;
                    span{
                        color:#ef4521;
                    }
                }

            }
            form>div:last-child{
                height:71px;
            }
            .main_register_con_zh,.main_register_con_mm,.main_register_con_qrmm,.main_register_con_yzm1,.main_register_con_yzm2{
                position: relative;
                input{
                    float: left;
                    height:26px;
                    line-height: 26px;
                    padding:1px 4px;
                    border:1px solid #ccc;
                }
                
                /*满足条件显示出来，移除类名*/
                .tishi{
                    height:16px;
                    position: absolute;
                    left:145px;
                    top:33px;
                    font-size:12px;
                    line-height: 16px;
                    color:#666;
                    i{
                        font-style: normal;
                        display: block;
                        width:14px;
                        height:14px;
                        border-radius:50%;
                        background:#b14c49;
                        color:#fff;
                        text-align: center;
                        line-height: 14px;
                        float: left;
                    }
                }
                .tishihide{
                    display: none;
                }
                input:hover{
                    border:1px solid #a9a9a9;
                }
                
            }
            .main_register_con_zh,.main_register_con_mm,.main_register_con_qrmm{
                input{
                    width:288px;
                }
            }
            .main_register_con_yzm1,.main_register_con_yzm2{
                input{
                    width:80px;
                }
                .hqdxyzm{
                    cursor: pointer;
                    margin:0 3px;
                    width:130px;
                    height:29px;
                    border:0;
                    background:#840f83;
                    color:#fff;
                   margin-top:1px;
                   margin-left:7px;
                }
                .hqdxyzm:hover{
                    border:0;
                    background:#e2232c;
                }
            }
            .mmqd{
                float: left;
                width:110px;
                height:29px;
                margin-left:8px;
                font-size:14px;
                span b{
                    font-weight: 400;
                }
                div{
                    width:110px;
                    height:8px;
                    background:#ddd;
                    margin-top:5px;
                    div{
                        height:8px;
                    }
                    .ruo{
                        background:#ff2626;
                        width:30px;
                    }
                    .zhong{
                        background:#ff9326;
                        width:60px;
                    }
                    .qiang{
                        background:#00d900;
                        width:110px;
                    }
                    
                }
            }
            .cheng{
                color:#ff2626;
            }
            .huang{
                color:#ff9326;
            }
            .green{
                color:#00d900;
            }
            .hide{
                display: none;
            }
            .show{
                display: inline-block;
            }
            .showyzm{
                float: left;
                display: block;
                width:40px;
                height:28px;
                margin:0 3px;
                line-height: 28px;
                text-align: center;
                border:1px solid #ccc;
            }

            .main_register_con_check{
                margin-left:145px;
            }
            .main_register_con_check{
                color:#666;
                 font-size:14px;
            }
            .main_register_con_zc{
                input{
                    width:80px;
                    height:37px;
                    background:#840f83;
                    color:#fff;
                    line-height: 37px;
                    text-align: center;
                    border:0;
                    margin-left:145px;
                    cursor: pointer;
                }
                input:hover{
                    background:#e2232c;
                }
            }
            .main_register_con_santu{
                width:28px;
                height:28px;
                display: flex;
                width:626px;
                justify-content: center;
                a{
                    margin:0 6px;
                }
            }
            .hgq{
                cursor: pointer;
                color:#0563c3;
                font-size:14px;
            }
            .hgq:hover{
                color:#e40c57;
            }
            
        }
        .main_register_con_right{
            width:500px;
            height:40px;
            float: left;
            padding-left:50px;
            padding-top:202px;
            line-height: 40px;
            span{
                float: left;
                font-size:14px;
            }
            a{
                display: block;
                width:140px;
                height:40px;
                background:#840f83;
                float: left;
                text-align: center;
                font-size:16px;
                color:#fff;
            }
            a:hover{
                background:#e2232c;
            }
        }
    }
    .tanchuang,.shibai1,.shibai2{
        width:300px;
        height:60px;
        padding:20px 0;
        background:#fff;
        border:1px solid #666;
        color:#666;
        font-size:14px;
        text-align:center;
        line-height: 2;
        position: fixed;
        top:0;
        right:0;
        bottom:0;
        left:0;
        margin: auto;
    }
    .shibai1,.shibai2{
        line-height: 60px;
    }
    .tanchuang_hide{
        display: none;
    }
}

/*cart*/
#main_cart{
    min-height:200px;
    .main_cart_con{
        width:1200px;
        margin:0 auto;
        .main_cart_con_top{
            height:37px;
            background:url(../images/cartlogo.png) no-repeat left center;
        }
        .main_cart_con_nr{
            margin-bottom:20px;
        }
        .kongcart_begin{
            background:#efefef;
            padding:80px 0 90px;
            border:1px solid #e6e6e6;
            display: flex;
            justify-content: center;
            height:71px;
            i{
                margin-top:2px;
                display: block;
                width:65px;
                height:65px;
                margin-right:24px;
                background:url(../images/cartlan.png) no-repeat center;
            }
            .kongcart_right{
                width:296.2px;
                height:56px;
                text-align:left;
                font-size:14px;
                color:#666;
                line-height: 2;
                padding-top:14px;
                a{
                    color:#0563c3;
                    text-decoration: underline;
                }
                a:hover{
                    color:#E40C57;
                }
            }
        }
        .kongcart_show{
            display: block;
        }
        .kongcart_hide{
            display: none;
        }        
        .kongcart_now{
            .kongcart_now_top{
                height:30px;
                margin:20px 0;
                div{
                    width:336px;
                    height:30px;
                    float: left;
                    line-height: 30px;
                    font-size:16px;
                    background:#efefef;
                    color:#8c8c8c;
                    i{
                        float: left;
                        display: block;
                        margin:4px 8px 5px 15px;
                        width:22px;
                        height:22px;
                        background:#cbcbcb;
                        border-radius: 50%;
                        font-style: normal;
                        text-align: center;
                        line-height: 22px;
                        color: #fff;
                    }
                    a{
                        color:#8c8c8c;
                        width:336px;
                        height:30px;
                        display: block;
                    }
                    a:hover{
                        background:#e1880a;
                        color:#fff;
                        i{
                            color:#e1880a;
                            background:#fff;
                        }
                    }
                }
                div:nth-of-type(1){
                    background:#860c83;
                    color:#fff;
                    i{
                        color:#faa419;
                        background:#fff;
                    }
                }
                span{
                    width:96px;
                    height:30px;
                    float: left;
                    background:url(../images/new_jiantou.png) no-repeat center;
                }
            }
            .kongcart_now_conn{
                h3{
                    height:24px;
                    line-height: 24px;
                    padding-left:10px;
                    padding-bottom:5px;
                    font-size:16px;
                    font-weight: 400;
                }
                table{
                    border:1px solid #e6e6e6;
                    width:1200px;
                    border-collapse: collapse;
                    border-spacing:0;
                    i,em{
                        font-style: normal;
                    }
                    thead{
                        font-size:14px;
                        background:#efefef;
                        color:#666;
                        th{
                            height:34px;
                            padding:1px;
                            font-weight: 100;
                        }

                    }
                    tbody{
                        tr{
                            font-size:12px;
                            border-bottom:1px solid #efefef;
                            height:105px;
                            color:#666;
                            td{
                                text-align: center;
                            }
                            td:last-child{
                                color:#026eb7;
                                width:146px;
                                a{
                                    color:#026eb7;
                                }
                                span:hover{
                                    text-decoration: underline;
                                }
                                a:hover{
                                    text-decoration: underline;
                                }
                                
                            }
                            .xjcolor{
                                color:#fe2000;
                                width:80px;
                            }
                            .shangpinhov a:hover{
                                color:#026eb7;
                                text-decoration: underline;
                            }
                            .jiajian{
                                width:80px;
                                padding:0 15px;
                                span{
                                    float: left;
                                    width:20px;
                                    height:21px;
                                    border:1px solid #a9a9a9;
                                    text-align: center;
                                    font-size:14px;
                                    line-height: 22px;
                                }
                                input{
                                    float: left;
                                    width: 30px;
                                    height: 19px;
                                    line-height: 19px;
                                    border-width: 1px 0;
                                    border-style: solid;
                                    border-color: #a9a9a9;
                                    text-align: center;

                                }
                            }
                            .youhuijine{
                                width:100px;
                            }
                            .jifen{
                                width:100px;
                            }
                            td:nth-child(1){
                                width:100px;
                            }
                            td:nth-of-type(3){
                                width:100px;
                            }
                            td:nth-of-type(2){
                                width:450px;
                                line-height: 100px;
                                text-align: center;
                            }
                            .shangpintu{
                                display: inline-block;
                                margin:10px 10px 0 20px;
                                float: left;
                                width:80px;
                                height:80px;
                                border:1px solid #ddd;
                                img{
                                    width:80px;
                                    height:80px;
                                }
                            }
                            .shangpinhov{
                                width:320px;
                                float: left;
                               
                            }
                        }
                        
                        
                        
                        
                        
                    }
                    tfoot{
                        .kongcart_now_conn_fbot{
                            background:#efefef;
                            td:nth-of-type(1){
                                height:40px;
                                padding:10px 15px; 
                                font-size:12px;
                                span{
                                    width:82px;
                                    height:25px;
                                    background:#fff;
                                    float: left;
                                    margin-right:10px;
                                    border:1px solid #ccc;
                                    text-align: center;
                                    line-height: 25px;  
                                }
                                span:nth-child(2){
                                    background:#830f83;
                                    color:#fff;
                                }
                                span:nth-child(1):hover{
                                    background:#666;
                                    color:#fff;
                                }
                                span:nth-child(2):hover{
                                    background:#da7d0c;
                                }
                                
                            }
                            td:nth-of-type(2){
                                padding:10px 15px;
                                a{
                                    float: right;
                                    color:#666;   
                                }
                                a:nth-child(1){
                                   width:140px;
                                   height:40px;
                                   background:#840f83;
                                   color:#fff;
                                   font-size:16px;
                                   text-align: center;
                                   line-height: 40px;
                                }
                                a:nth-child(2){
                                    margin-right:14px;
                                    font-size:12px;
                                    text-decoration: underline;
                                    margin-top:13px;
                                }
                                a:nth-child(2):hover{
                                    color:#e40c57;
                                }
                                
                            }
                            
                        }
                        .kongcart_now_conn_ftop{
                            td:nth-of-type(2){
                               padding:15px 1px 10px;
                            }
                            td:nth-of-type(1){
                                position: relative;
                            }
                            .youhui_btn{
                                padding:10px;
                                font-size:14px;
                                color:#666;
                                width:300px;
                                line-height: 20px;
                                position: absolute;
                                top:-1px;
                                a{
                                    color:#666;
                                }
                                i{
                                    display: block;
                                    float: left;
                                    width:20px;
                                    height:20px;
                                    border:1px solid #cecece;
                                    margin-right:10px;
                                    text-align: center;
                                    line-height: 20px;
                                }
                                i:hover{
                                    color:#e40c57;
                                }
                                .youhui_xinxi{
                                    text-indent:35px;
                                    font-size:12px;
                                    span{
                                        color:#ef4521;
                                    }
                                    margin-top:5px;
                                }
                                .youhui_hide{
                                    display: none;
                                }
                                .youhui_show{
                                    display: block;
                                }
                            }
                                
                            .kongcart_now_conn_ftop_right{
                                width:355px;
                                font-size:14px;
                                float: right;
                                div{
                                    width:355px;
                                    line-height: 30px;height:30px;
                                }
                                div:last-of-type{
                                    height:43px;
                                    line-height:43px;
                                }
                                em{
                                    float: left;
                                    width:200px;
                                    
                                    color:#666;
                                    text-align: right;
                                }
                                span{
                                    float: left;
                                    width:155px;
                                    text-align: left;
                                    color:#fe2000;
                                }
                                .fontweight{
                                    font-size:24px;
                                    height:43px;
                                }
                                .fonthei{
                                    height:40px;
                                }
                            }
                                
                            
                        }
                    }
                }
            } 
        }
    }
}

.qkcart{
    z-index:9999;
    width:350px;
    height:128px;
    background:#fff;
    position: absolute;
    top:50%;
    left:50%;
    margin: auto;
    margin-top:-64px;
    margin-left:-175px;
    border:3px solid #a9a9a9;
    border-top:0;
    .qkcart_tittle{
        height:30px;
        background:#a9a9a9;
        line-height: 30px;
        color:#fff;
        padding-left:10px;
        font-size:14px;
    }
    .qkcart_con{
        width:320px;
        height:68px;
        padding:15px;
        color:#666;
        font-size:12px;
        .qkcart_btns{
            width:320px;
            height:25px;
            margin-top:15px;
            margin-bottom:10px;
            display: flex;
            justify-content: center;
            span:nth-child(1){
                width:56px;
                height:25px;
                background:#830f83;
                margin-right:15px;
                color:#fff;
                line-height: 25px;
                text-align: center;
            }
            span:nth-child(2){
                background: linear-gradient(#fefefe,#f3f3f3);
                border:1px solid #ccc;
                width:46px;
                height:25px;
                text-align: center;
                line-height: 25px;
            }
            
        }
    }
}

.coudan_con{
    width:960px;
    height:330px;
    margin:auto;
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:#fff;
    z-index:9999;
    border:1px solid #e6e6e6;
}
.coudan_con_title{
    line-height: 35px;
    height:35px;
    padding: 0 10px;
    background:#efefef;
    font-size: 14px;
    color:#666;
    span{
        margin-top:7px;
        width:20px;
        height:20px;
        float: right;
        background:url(../images/xxx.png) no-repeat left 0;
        cursor: pointer;
    }
    span:hover{
        background:url(../images/xxx.png) no-repeat left -25px;
    }
}
.coudan_qujian{
    width:860px;
    height:28px;
    border-bottom:1px solid #666;
    padding-top:10px;
    margin:0 auto;
    font-size:12px;
    color:#666;
    span{
        display: block;
        float: left;
        margin-right:10px;
        width:91px;
        height:28px;
        text-align: center;
        line-height: 28px;
        background:#efefef;
        cursor: pointer;
    }
    span:hover{
        color:#fff;
        background:#666;
    }
}
.coudan_conbox{
    height:256px;
    position: relative;
    .coudan_con_btn{
        span{
            width:34px;
            height:110px;
            background:#efefef;
            position: absolute;
            top:68px;
            i{
                width:20px;
                height:20px;
                margin:45px 7px;
                display: block;
                cursor: pointer;
            }
        }
        span:first-child{
            left:0;
           i{
               background:url(../images/jian1.png) no-repeat right top;
           }
           i:hover{
               background:url(../images/jian1.png) no-repeat left top;
           }
        }
        span:last-child{
            right:0;
           i{
               background:url(../images/jian2.png) no-repeat left top;
           }
           i:hover{
               background:url(../images/jian2.png) no-repeat -25px top;
           }
        }
        
    }
    .coudan_xx1,.coudan_xx2,.coudan_xx3{
        width:880px;
        height:256px;
        margin:0 auto;
//      overflow: hidden;
        display: none;
        .boxbox{
            width:1760px;
        }
        ul{
            width:880px;
            height:256px;
            float: left;
            li{
                width:200px;
                height:98px;
                padding:15px 10px;
                float: left;
                img{
                    width:96px;
                    height:96px;
                    cursor: pointer; 
                }
                >div{
                    float: left;
                }
                >div:nth-child(1){
                    width:96px;
                    height:96px;
                    border:1px solid #e6e6e6;
                }
                >div:nth-child(2){
                    width:95px;
                    height:98px;
                    margin-left:7px;
                    font-size:12px;
                    position: relative;
                    >p:nth-child(1){
                        line-height:20px;
                        a{
                            color:#666;
                        }
                        a:hover{
                            color:#026eb7;
                        }
                    }
                    >p:nth-child(2){
                        line-height:33px;
                        color:#fe2000;
                    }
                    >span{
                        color:#fff;
                        background:#811181;
                        display: block;
                        width:90px;
                        height:23px;
                        margin:1px;
                        text-align: center;
                        line-height: 23px;
                        cursor: pointer;
                    }
                    >span:hover{
                        background:#d84406;
                    }
                    
                /*提醒框  点span  span的父元素的find（'div'）addclass tishishow*/
                    >div{
                        display: none;
                        position: absolute;
                        background:#fff;
                        width:298px;
                        height:152px;
                        z-index:10000;
                        left:-2px;
                        border: 1px solid #e6e6e6;
                        box-shadow: 2px 2px 3px #ddd;
                        >p{
                            line-height: 35px;
                            height:35px;
                            padding: 0 10px;
                            background:#efefef;
                            font-size: 14px;
                            text-align: left;
                            color:#666;
                            span{
                                margin-top:7px;
                                width:20px;
                                height:20px;
                                float: right;
                                background:url(../images/xxx.png) no-repeat left 0;
                                cursor: pointer;
                            }
                            span:hover{
                                background:url(../images/xxx.png) no-repeat left -25px;
                            }
                        }
                        >div{
                            width:278px;
                            height:97px;
                            padding:10px;
                            font-size:12px;
                            color:#666;
                            text-align: center;
                            p:nth-child(1){
                                i{
                                    width:14px;
                                    height:14px;
                                    display:inline-block;
                                    position: relative;
                                    top:2px;
                                    right:2px;
                                    background:url(../images/duigou4.png) no-repeat left top;
                                }
                                line-height: 2;
                                margin-bottom:16px;
                               span{
                                   color:#d92626;
                               }
                               span:last-of-type{
                                   color:red;
                               }                     
                            }
                            p:nth-child(2){
                                height:25px;
                                font-size: inherit;
                                display: flex;
                                justify-content: center;
                                span{
                                    background: linear-gradient(#fefefe,#f3f3f3);
                                    border:1px solid #ccc;
                                    width:68px;
                                    height:23px;
                                    text-align: center;
                                    line-height: 23px;
                                    cursor: pointer;
                                    
                                }
                                span:hover{
                                    background:#e9e9e9;
                                }
                                a{
                                    width:90px;
                                    height:23px;
                                    background:#830f83;
                                    margin-left:4px;
                                    color:#fff;
                                    line-height: 23px;
                                    text-align: center;
                                    border:1px solid transparent;
                                }
                                a:hover{
                                    background:#d84406;
                                }
                            } 
                        }
                    }
                    .tishishow{
                        display: block;
                    }
  
                }
            }
        }
    }
    .coudan_xxshow{
        display:block;
    }
    
}



.zhezhao{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(51,51,51,.7);
    z-index:8888;
}


//控制遮罩清空凑单
.zhezhaohide,.qkcarthide,.coudan_con{
    display:none;
}
